#tab-header {
	width: 40%;
	margin: 0 auto;
	padding: 12px;
	background: cornsilk;
}

.tab-item {
	display: inline-block;
	margin: 0 12px;
	cursor: pointer;
}

#tab-content {
	width: 40%;
	margin: 0 auto;
	padding: 12px;
	background: blanchedalmond;
}

#tab-content p {
	display: block;
}
