<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<!-- MapperScannerConfigurer -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 해당 패키지 안의 인터페이스를 찾아 올려준다 -->
		<property name="basePackage" value="kr.latera.mybatis.mapper" />
	</bean>

<!-- 	<bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> -->
<!-- 		<property name="mapperInterface" value="kr.latera.mybatis.mapper.UserMapper"/> -->
<!-- 		<property name="sqlSessionTemplate" ref="sqlSession"/> -->
<!-- 	</bean> -->

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:/config/SqlMapConfig.xml" />
		<property name="mapperLocations">
			<list>
				<value>classpath:/config/User.xml</value>
			</list>
		</property>
	</bean>
	
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="dataSource"  class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
    	<property name="driverClass"   value="com.mysql.jdbc.Driver" />
    	<property name="url"  value="jdbc:mysql://localhost:3306/mybatis?useUnicode=true&amp;characterEncoding=utf8&amp;serverTimezone=UTC" />
    	<property name="username"  value="root"  />
    	<property name="password"  value="testament@@#" />
    </bean>

</beans>
